.bio {
    margin-top:30px;
    p{
        font-size:16px;
        color:#000;
        margin:10px auto;
        width: 60%;
        line-height: 21px;
    }

    h4{
        font-size:32px;
    }

}

.aboutmepage{
    margin:20px auto;
    width: 70%;
    h2{
        margin:20px 0 15px 0;
    }

    p{
        margin:10px 0;
    }
}
  