header{
    padding-top:10px;
    figure{
        width: 250px;
        margin:0 auto;
        img{
            max-width: 100%; 
            border-radius:50%;
           
        }
    }
    h1{
        font-size: 32px;
        margin:20px 0;
        color: #999;
        text-transform: uppercase;
    }
}