.portfolio{
    h4{
        font-size:32px;
        
    }
    ul{
        list-style: none;
        li{
            border:2px solid #eee;
            width: 300px;
            margin:10px;
            padding:10px;
            display: inline-block;
            figure{
                
                img{
                    max-width: 100%;
                }
            }
        }
    }
}